<web-app>
   <servlet>
         <servlet-class>com.nit.hk.servlet.HelloServlet</servlet-class>
		 
		 <servlet-name>helloServlet</servlet-name>
   </servlet>
   
   <servlet-mapping>
            <servlet-name>helloServlet</servlet-name>
			<url-pattern>/hs</url-pattern>
   </servlet-mapping>
</web-app>