<web-app>
   <servlet>
        <servlet-class>com.nit.hk.servlets.DateServlet</servlet-class>
        <servlet-name>dateServlet</servlet-name>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>dateServlet</servlet-name>
      <url-pattern>/ds</url-pattern>
   </servlet-mapping>
</web-app>